PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=sotuv-varonka

JWT_SECRET=change_me
JWT_EXPIRES_IN=7d

REDIS_URL=redis://localhost:6379
LOGIN_RATE_LIMIT_MAX=10
LOGIN_RATE_LIMIT_WINDOW_SEC=60
LEADS_CACHE_TTL_SEC=20
